@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* grid*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* head */
h1 {
    color: #34495e;
    font-size: 32px;
    font-family: 'Ubuntu Mono', monospace;
    margin-bottom: 32px;
}

/* links */
.link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.link a {
    color: #9b59b6;
    font-size: 24px;
    font-family: 'Ubuntu Mono', monospace;
}
.link a:hover {
    color: #8e44ad;
}

/* list-component  */
.list {
    font-family: 'Ubuntu Mono', monospace;
}
.list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list__folder {
    color: #2c3e50;
    font-size: 24px;
    cursor: pointer;
    background-image: url('list__sprites.png');
    background-repeat: no-repeat;
    background-position-x: -10px;
    background-position-y: -10px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 32px;
}
.list__folder--open {
    background-image: url('list__sprites.png');
    background-repeat: no-repeat;
    background-position-x: -10px;
    background-position-y: -54px;
}
.list__folder > ul {
    display: none;
}
.list__folder--open > ul {
    display: block;
}
.list__element {
    color: #34495e;
    font-size: 20px;
    cursor: text;
    padding-left: 32px;
}
